blinker==1.9.0
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.4
docx2txt==0.9
Flask==3.1.2
flask-cors==6.0.2
gensim==4.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
nltk==3.9.2
numpy==2.4.2
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.0
pycparser==3.0
pypdfium2==5.4.0
regex==2026.1.15
scikit-learn==1.8.0
scipy==1.17.0
smart_open==7.5.0
threadpoolctl==3.6.0
tqdm==4.67.3
Werkzeug==3.1.5
wrapt==2.1.1
